@import url("https://fonts.googleapis.com/css2?family=DynaPuff&display=swap");
body {
  background-image: url(../img/one-piece-yonko-buggy-el-payaso-1.webp);
  background-repeat: repeat;
  background-size: contain;
  background-position: center;
  font-family: "DynaPuff", sans-serif;
}
.container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
  background-color: #f8dfaa;
  border-radius: 5px;
}

h1 {
  color: #e63946;
}

h2 {
  margin-top: 20px;
  margin-bottom: 10px;
}

.form-group {
  margin-bottom: 10px;
  text-align: left;
  padding-right: 17px;
}

label {
  display: block;
  font-weight: bold;
  color: #000000;
}

input[type="text"],
input[type="number"] {
  width: 100%;
  padding: 8px;
  border-radius: 3px;
  border: 1px solid #ced4da;
}

button {
  padding: 10px 20px;
  background-color: #fc9b0a;
  color: #000000;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 3px;
}

button:hover {
  background-color: #a4ff12;
}
.botonEnviar {
  margin-left: 40%;
}

#formPreguntas {
  text-align: left;
  margin-top: 30px;
}

#formPreguntas p {
  margin-bottom: 10px;
  color: #1d3557;
}

#formPreguntas label {
  display: block;
  margin-bottom: 5px;
  color: #000;
}

#formPreguntas input[type="radio"] {
  margin-right: 5px;
}

#agregarJugador {
  margin-top: 30px;
}

#agregarJugador label {
  margin-left: 5px;
  color: #000;
}
